// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.display {
  text-align:center ;
  margin-block:inherit;
  margin-top: 100px;
}

.display1 {
  font-size:medium ;
}

.display2 {
  color: grey;
  font-size:medium;
  &:hover {
    color: rgb(103, 192, 95);
  }
}

#answer {
  font-size:medium ;
  text-align:center ;
  margin-block:inherit;
  margin-top: 100px;
}

#question1 {
  font-size:medium ;
  text-align:center ;
  margin-block:inherit;
  margin-top: 100px;

}

.card {
  border-radius:30px;
  box-shadow: blueviolet;
  padding: 2px 16px;
}
